.top-box {
    border: solid;
    height: 200px;
    width: 200px;
    border-width: 20px;
    margin-bottom: 8px;
}

body {
    background: #E6F5FF;
}

.content {
    align-content: center;
    align-items: center;
}

.box:hover {
    border-color: #666c75;
    background-color: #222831;
}

.middle-box {
    border: solid;
    height: 200px;
    width: 200px;
    border-width: 20px;
    background-color: #222831;
    margin-bottom: 8px;
}

.nested-box {
    border: solid;
    height: 200px;
    width: 200px;
    border-width: 20px;
    margin-left: 240px;
}

.bottom-box {
    background-color: #00ADB5;
}

p {
    color: #666c75;
    margin-top: 87px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

p:hover {
    color: tomato;
}

.dp-size {
    height: 200px;
    width: 200px;
}